body {
}

ul {
	list-style: none;
}

.accounts img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
	float:left;
}

.accounts {
	width: 460px;
	float:left;
}
.det_username {
	width: 200px;
	font-weight: bold;
}

.det_description {
	width: 200px;
	font-size: 14px;
}

#contact-text {
	font-size: 40px;
	text-align: justify;
}
#contact-text a {
	font-size: 30px;
}
