/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

#banner {
			width: 780px;
			height: 300px;
			position: relative;
			border: 8px solid #eee;
			-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
		}
#banner img{
	width: 780px;
	height: 300px;
}
	
		#banner div {
			position: absolute;
		}
		
		#banner div:nth-child(2) {
			-webkit-animation: wipe 3s infinite;
			-webkit-animation-delay: 2s;
			-webkit-animation-direction: alternate;
			-webkit-mask-size: 2000px 2000px;
			-webkit-mask-image: -webkit-gradient(linear, left top, right bottom, 
					color-stop(0.00,  rgba(0,0,0,1)),
					color-stop(0.45,  rgba(0,0,0,1)),
					color-stop(0.50,  rgba(0,0,0,0)),
					color-stop(0.55,  rgba(0,0,0,0)),
					color-stop(1.00,  rgba(0,0,0,0)));
		}
		
		@-webkit-keyframes wipe {
			0% {
				-webkit-mask-position: 0 0;
			}
			100% {
				-webkit-mask-position: -1200px -1200px;
			}
		}
		
